.my-header-bg{
    background-color: #264653;
}
.row img{
    width: 288px;
    height: 243px;
}
.img-gray{
    filter: grayscale(100%);
}
.clients img{
    width: 150px;
    height: 150px;
}
.faq-img{
    width: 431px;
    height: 423px;
}
@media (max-width:575px){
    .faq-img{
    width: 275px;
    height: 270px;
    }
}